.line-break {
    width: 100%;
}

.store-container {
    width: 80%;
    margin: auto;
    display: grid;
    row-gap: 20%;
    column-gap: 0%;
    margin: 0 auto;
}

.store-item {
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
}

.store-item > button {
    height: 12%;
}

.store-item > img { 
    max-width: 50%;
}

.store-item-1 {
    grid-row: 1;
    grid-column: 1;
}

.store-item-2 {
    grid-row: 1;
    grid-column: 2;
}

.store-item-3 {
    grid-row: 1;
    grid-column: 3;
}

.store-item-4 {
    grid-row: 2;
    grid-column: 1;
}

/* Sets the table to be a 2xN grid instead of 3xN
   as it is easier to see on smaller-width devices */

@media (max-width: 1400px)
{
    .store-item > img { 
        max-width: 50%;
    }

    .store-item-3 {
        grid-row: 2;
        grid-column: 1;
    }
    
    .store-item-4 {
        grid-row: 2;
        grid-column: 2;
    }
}